@CHARSET "UTF-8";

/******* FORM *******/
/*
#customForm{
	padding: 0 10px 10px;
}
#customForm label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#customForm input{
	width: 220px;
	padding: 6px;
	color: #949494;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}*/
input.error{
	background: #f8dbdb;
	border-color: #e77776;
}/*
#customForm textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#customForm div{
	margin-bottom: 15px;
}*/
textarea.error{/*
	background: #f8dbdb;
	border-color: #e77776;
	color: #ff0000;
	font-size: 11px;
	font-style: italic;*/
}
#customform div{
}
#customform div.error{
	color: #ff0000;
	font-size: 11px;
	font-style: italic;
	margin-top:-20px;
}
/*
#customForm #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#customForm #send:hover{
	background: #79a7f1;
}*/
#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}
/******* /FORM *******/


/* Parsley error */
ul.parsley-error-list li {
    line-height: 11px;
    color: #f00;
}

ul.parsley-error-list {
    font-size: 11px;
    list-style-type: none;
    margin:5px 0;
    padding:0;
}
.form_text{border: 1px solid #B7B7B7;
border-radius: 5px;
padding: 15px;
font: 14px arial;
width: 150px;
margin-top: 5px;
margin-right: 25px;
color:#383838;}
